@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-phone-call:before {
  content: "\f143";
  color: rgb(197, 197, 197, 1);
}
.flaticon-envelope:before {
  content: "\f118";
  color: rgb(197, 197, 197, 1);
}
.flaticon-placeholder:before {content: "\f145";
  color: rgb(197, 197, 197, 1);
}