/*---------------------
 Default CSS
-----------------------*/
body {
  white-space: nowrap;
}

h1,
h5,
.oswald-font-style {
  font-family: Oswald, sans-serif;
}

p,
.open-sans-font-style {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 553;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}

label {
  font-weight: 700;
}

.upper-case {
  text-transform: uppercase;
}

.hyperlink {
  text-decoration: none;
}

/*---------------------
	Navbar section
-----------------------*/
.navbar {
  background-color: rgba(197, 197, 197, 0);
}

.navbar-section {
  z-index: 110;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-nav li {
  padding-left: 25px;
}

.navbar-nav li a {
  font-size: 17px;
  font-weight: 453;
}

.navbar-toggler {
  box-shadow: none;
  border: none;
  padding: 6px 10px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header-fixed {
  box-shadow: 0 .21rex .53rex rgba(152, 152, 152, .72);
  background-color: rgba(21, 21, 21, 0.85);
}

@media only screen and (max-width: 768px) {
  .navbar-nav li {
    width: 100%;
    float: left;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 1);
    background-color: rgba(21, 21, 21, 0.85);
  }
}

/*---------------------
	Contact Me section
-----------------------*/
.contact-me-background {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url("../img/contact-bg-mumbai.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.text-style-1 {
  letter-spacing: 1px;
  margin: 6px 1px 0;
}

.text-style-2 {
  margin: 11px 1px 0px 32px;
}

.text-style-3 {
  margin: 7px 1px 0px 32px;
}

.text-style-4 {
  margin: 11px 1px 0;
}

.layout-style-1 {
  padding: 20px 30px 15px 0;
}

.layout-style-2 {
  margin-bottom: 30px;
}

.color-style-1,
.hyperlink:hover {
  color: rgba(197, 197, 197, 1);
}

.color-style-2,
.input-fields,
.btn-color,
.hyperlink {
  color: rgba(255, 255, 255, 1);
}

.color-style-3,
::placeholder {
  color: rgba(152, 152, 152, 1);
}

.input-fields {
  display: block;
  width: 100%;
  padding: 10px 12px;
  background-color: rgba(0, 0, 0, 0);
  caret-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  border-width: 2px;
  border-top-width: 0;
  border-top-style: none;
  border-left-width: 0;
  border-left-style: none;
  border-right-width: 0;
  border-right-style: none;
}

.input-fields:focus-visible {
  outline: none;
}

.btn-color {
  background-color: rgba(8, 15, 47, 1);
}

.btn-color:hover {
  background-color: rgba(197, 197, 197, 1);
  color: rgba(0, 0, 0, 1);
}

.btn-rounded {
  border-radius: 100px;
  width: 100%;
}

.btn-font {
  font-weight: 700;
  letter-spacing: 2px;
}

.query-form {
  padding-top: 60px;
}

@media (max-width: 900px) {
  .box1 {
    padding-top: 21px;
  }
}

@media (min-width: 900px) {
  .box1 {
    padding: 50px;
  }
}

@media (min-width: 1240px) {
  .box1 {
    padding-left: 250px;
    padding-right: 200px;
    padding-top: 50px;
  }
}