/*---------------------
 Default CSS
-----------------------*/
body {
  overflow-x: hidden;
}

h1,
h5,
.oswald-font-style {
  font-family: Oswald, sans-serif;
}

p,
.open-sans-font-style {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 553;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}

label {
  font-weight: 700;
}

.upper-case {
  text-transform: uppercase;
}

.hyperlink {
  text-decoration: none;
}

/*---------------------
	Navbar section
-----------------------*/
.navbar {
  background-color: rgba(197, 197, 197, 0);
}

.navbar-section {
  z-index: 110;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-nav li {
  padding-left: 40px;
}

.navbar-nav li a {
  font-size: 17px;
  font-weight: 453;
}

.navbar-toggler {
  box-shadow: none;
  border: none;
  padding: 6px 10px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header-fixed {
  box-shadow: 0 .21rex .53rex rgba(152, 152, 152, .72);
  background-color: rgba(21, 21, 21, 0.85);
}

@media only screen and (max-width: 767px) {
  .navbar-nav li {
    width: 100%;
    float: left;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 1);
    background-color: rgba(21, 21, 21, 0.85);
  }
}
/*---------------------
	Cover Image section
-----------------------*/
.cover-image{
  padding-top: 80px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url("../img/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cover-motto-p{
  color: rgb(236, 239, 198,0.75); 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;  
}

@media (min-width: 320px) {
  
  .cover-image{
    height: 200px;
  }
  .cover-motto-div{
    padding-left: 15px;
    padding-right: 10px;
  }
  
  .cover-motto-p{
    font-size: large;
    padding-top: 20px;
  }
}


@media (min-width: 700px) {
  .cover-image{
    height: 270px;
  }
  .cover-motto-div{
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 50px;
  }
  .cover-motto-p{
    font-size: x-large;
  }
}

@media (min-width: 1200px) {
  .cover-image{
    height: 350px;
  }
  .cover-motto-div{
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 520px;
  }
  .cover-motto-p{
    font-size: xx-large;
  }
}

/*---------------------
	About Me section
-----------------------*/
.about-me-section{
   border-top: 5px solid rgb(125, 126, 128);
   border-bottom: 5px solid rgb(125, 126, 128);
   /* background:rgba(115, 148, 160, 0.75); */
   background: rgb(217,246,255);
   background: radial-gradient(circle, rgba(217,246,255,1) 1%, rgba(255,255,255,1) 100%);  }
  
.about-me{
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;
}
.about-me-image{
  border: 1px solid rgb(78, 116, 137);
  filter: drop-shadow(0 0 0.5rem rgb(47, 49, 49));
}
.about-me-content-div{
  color: rgba(8, 15, 47, 1);
  
}
.list{
  
  display: inline-block;
  text-align: left;
}
@media (min-width: 320px) {
  .about-me-image-div{
    padding: 30px 0px; 
  }
  .about-me-image{
    height: 300px;
  }
  .about-me-content-div{
    text-align: center;
    
  }
}
@media (min-width: 700px) {
  .about-me-image{
    height: 400px;
    width: 300px;
  }
  .about-me-heading{
    /* font-size: xx-large; */
    padding-top: 20px;
  }
  .about-me-content-div{
    padding-left: 30px;
    text-align: left;
  }
  
      
}
@media (min-width: 1200px) {
  .about-me-heading{
    padding-top: 20px;
  }
  .about-me-content-div{
    text-align: left;
  }
}
/*---------------------
	Contact Me section
-----------------------*/
.contact-me-background {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url("../img/contact-bg-mumbai.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.text-style-1 {
  letter-spacing: 1px;
  margin: 6px 1px 0;
}

.text-style-2 {
  margin: 11px 1px 0px 32px;
}

.text-style-3 {
  margin: 7px 1px 0px 32px;
}

.text-style-4 {
  margin: 11px 1px 0;
}

.layout-style-1 {
  padding: 20px 30px 15px 0;
}

.layout-style-2 {
  margin-bottom: 30px;
}

.color-style-1,
.hyperlink:hover {
  color: rgba(197, 197, 197, 1);
}

.color-style-2,
.input-fields,
.btn-color,
.hyperlink {
  color: rgba(255, 255, 255, 1);
}

.color-style-3,
::placeholder {
  color: rgba(152, 152, 152, 1);
}

.input-fields {
  display: block;
  width: 100%;
  padding: 10px 12px;
  background-color: rgba(0, 0, 0, 0);
  caret-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  border-width: 2px;
  border-top-width: 0;
  border-top-style: none;
  border-left-width: 0;
  border-left-style: none;
  border-right-width: 0;
  border-right-style: none;
}

.input-fields:focus-visible {
  outline: none;
}

.btn-color {
  background-color: rgba(8, 15, 47, 1);
}

.btn-color:hover {
  background-color: rgba(197, 197, 197, 1);
  color: rgba(0, 0, 0, 1);
}

.btn-rounded {
  border-radius: 100px;
  width: 100%;
}

.btn-font {
  font-weight: 700;
  letter-spacing: 2px;
}

.query-form {
  padding-top: 60px;
}

@media (max-width: 900px) {
  .box1 {
    padding-top: 21px;
  }

}

@media (min-width: 900px) {
  .box1 {
    padding: 50px;
  }
}

@media (min-width: 1500px) {
  .box1 {
    padding-left: 250px;
    padding-right: 200px;
    padding-top: 50px;
  }
}

/*---------------------
	Footer
-----------------------*/
.footer-section {
  background-color: rgba(0, 0, 0, 1);
}

.footer-left a {
  color: rgba(235, 224, 224, 0.972);
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  font-weight: 453;
  text-decoration: underline !important;
  text-decoration-color: rgba(197, 197, 197, 0.662) !important;
}
.footer-left a:hover {
  color: rgb(171, 194, 238);
}